@font-face {
  font-family: "iconfont"; /* Project id 4551357 */
  src: url('iconfont.woff2?t=1715925512608') format('woff2'),
       url('iconfont.woff?t=1715925512608') format('woff'),
       url('iconfont.ttf?t=1715925512608') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-customer-interests:before {
  content: "\e829";
}

.icon-add:before {
  content: "\e835";
}

.icon-edit:before {
  content: "\e839";
}

.icon-favorites:before {
  content: "\e83a";
}

.icon-close:before {
  content: "\e83b";
}

.icon-delete:before {
  content: "\e83c";
}

.icon-info:before {
  content: "\e83d";
}

.icon-settings:before {
  content: "\e840";
}

.icon-sorting:before {
  content: "\e842";
}

.icon-save:before {
  content: "\e866";
}

